body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0px;
	max-width: 600px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

header div {
	display: flex;
	align-items: center;
}

hr {
	margin-left: 0;
	margin-right: 0;
}

.copyright {
	font-size: smaller;
}

.icon {
	text-decoration: none;
	font-size: x-large;
	cursor: pointer;
	padding: 0 8px;
	color: inherit;
}

.emoji {
	font-family: emoji;
}

.pointer {
	cursor: pointer;
}

.btn {
	border-radius: 5px;
	margin-left: 10px;
	padding: 7px 20px;
}

.btns {
	justify-content: flex-end;
}

.panel {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 0px 15px 15px 15px;
	box-sizing: border-box;
}

.tile {
	width: 160px;
	height: 160px;
	border-radius: 12px;
	border: 1px solid darkgrey;
	overflow: hidden;
}

.offline .tile {
	border-color: red;
}

.tile-body {
	background-color: #f4f4f4;
	height: 120px;
}

#tile-nodef {
	color: darkgrey;
	font-style: italic;
	align-items: center;
	justify-content: center;
	background-color: #f4f4f4;
	height: 120px;
}

.tile-icon {
	width: 20px;
	height: 20px;
	margin: 0 15px;
}

.offline .tile-name {
	color: white;
}

.tile-footer {
	height: 40px;
	align-items: center;
	background-color: lightgrey;
}

.offline .tile-footer {
	background-color: red;
}

.divFlexRow {
	display: flex;
}

.divFlexCol {
	display: flex;
	flex-direction: column;
}

.divFlexWrap {
	display: flex;
	flex-wrap: wrap;
}

.visible {
	display: block;
}

.visibleFlex {
	display: flex;
}

.hidden {
	display: none;
}

.nono {
	cursor: not-allowed;
}

.bold {
	font-weight: bold;
}

.nopointer {
	cursor: default;
}

.device-icon {
	width: 40px;
	height: 40px;
}

.device-title {
	padding-left: 20px;
	padding-right: 20px;
	font-size: large;
	font-weight: bold;
}

.device-offline {
	display: none;
	border-radius: 15px;
	border: 3px solid red;
	color: red;
	padding: 5px 10px;
}

.offline .device-offline {
	display: block;
}

.device-back {
	align-items: center;
	cursor: pointer;
	margin: 0 0 20px 0;
}

.no-underline {
	text-decoration: none;
	color: black;
}

.gpio {
	background: darkorange;
	color: white;
	font-size: smaller;
	border-radius: 3px;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 20px 0px;
	height: 15px;
}

#full-nodef {
	color: darkgrey;
	align-items: center;
	justify-content: center;
	height: 250px;
}
