body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 0px;
	max-width: 600px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

header div {
	display: flex;
	align-items: center;
}

hr {
	margin-left: 0;
	margin-right: 0;
}

.icon {
	width: 20px;
	height: 20px;
	padding: 0px 10px;
}

.panel {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 0px 15px 15px 15px;
	box-sizing: border-box;
}

.back {
	margin-bottom: 25px;
}

.divFlexRow {
	display: flex;
}

.divFlexCol {
	display: flex;
	flex-direction: column;
}

.divFlexWrap {
	display: flex;
	flex-wrap: wrap;
}

.visible {
	display: block;
}

.visibleFlex {
	display: flex;
}

.hidden {
	display: none;
}

.device-icon {
	width: 40px;
	height: 40px;
}

.device-title {
	padding-left: 20px;
	padding-right: 20px;
	font-size: large;
	font-weight: bold;
}

.device-status {
	border-radius: 15px;
	padding: 5px 10px;
}
