#download-target-div {
	margin-bottom: 10px;
}

#download-http-div {
	display: none;
	margin-bottom: 10px;
}

#download-port {
	width: 64px;
}

#download-ssid-div {
	display: none;
	margin-bottom: 10px;
}

#download-btn-div {
	margin-top: 20px;
}

#download-btn {
	color: white;
	background: blue;
	border: none;
	border-radius: 3px;
	height: 35;
	width: 100px;
	font-size: medium;
	margin-right: 16px;
}

#download-response {
	padding-top: 20px;
}

hr {
	margin-bottom: 16px;
}
