#download-target-div {
	margin-bottom: 10px;
}

#download-http-div {
	display: none;
	margin-bottom: 10px;
}

#download-port {
	width: 64px;
}

#download-ssid-div {
	display: none;
	margin-bottom: 10px;
}

#download-btn-div {
	margin-top: 20px;
}

#download-response {
	padding-top: 20px;
}

#deploy-instructions {
	font-size: small;
}

hr {
	margin-bottom: 16px;
}
