<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Download {{.Model}}</title>

		<link rel="stylesheet" type="text/css" href="css/common.css">
		<link rel="stylesheet" type="text/css" href="css/download.css">
		<link rel="stylesheet" type="text/css" href="css/download-device.css">

	</head>

	<body>

		<header>
			<div>
				<img class="device-icon" src="images/icon.png"></img>
				<span class="device-title">{{.Name}}</span>
			</div>
		</header>

		<section class="divFlexCol panel">
			<div class="divFlexRow device-back" id="download-back" onclick="window.history.back()">
				<img class="icon" src="images/back-icon.png">
				<span>Download</span>
			</div>

			<form id="download-form">
				<div class="divFlexCol">
					<div class="divFlexRow" id="download-target-div">
						<label for="download-target">Target:</label>
						<select name="target" id="download-target">
{{ range $key, $value := .Targets }}
							<option value="{{ $key }}">{{ $value.FullName }}</option>
{{ end }}
						</select>
					</div>
					<div class="divFlexRow" id="download-ssid-div">
						<label for="download-ssid">Wifi SSID:</label>
						<select name="ssid" id="download-ssid">
{{ range $key, $value := .WifiAuth }}
							<option value="{{ $key }}">{{ $key }}</option>
{{ end }}
						</select>
					</div>
					<div class="divFlexRow" id="download-http-div">
						<label for="download-http">Run local Web Server:</label>
						<input type="checkbox" id="download-http">
						<label for="download-port">Port:</label>
						<input type="text" name="port" id="download-port">
					</div>
{{template "download-device.tmpl" .}}
					<div class="divFlexCol" id="download-btn-div">
						<div class="divFlexRow btns">
							<img id="gopher" src="images/gopher-workout.gif" style="display:none" width=30px>
							<button class="btn" id="download-btn">Download</button>
						</div>
						<span id="download-response"></span>
					</div>
				</div>
			</form>
		</section>

		<script type="module">
			import { stageDeploy } from "./js/download.js"
			stageDeploy("{{.DeployParams}}")
		</script>

	</body>
</html>
