<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Model}} - {{.Name}}</title>

		<link rel="stylesheet" type="text/css" href="model/{{.Model}}/css/device.css">
		<link rel="stylesheet" type="text/css" href="model/{{.Model}}/css/{{.Model}}.css">
	</head>

	<body class="online model-{{.Model}}">

{{template "index-header.tmpl" .}}

		<div class="full-body">
{{template "index-body.tmpl" .}}
		</div>

		<script src="model/{{.Model}}/js/device.js"></script>
		<script src="model/{{.Model}}/js/{{.Model}}x.js"></script>

		<script>
			const fullView = 0
			const assets = ""
			let device = new Device{{.ModelTitle}}(document.body, fullView, assets)
			let trunk = new Trunk({{.WebSocket}})
			trunk.registerDevice("", device)
			trunk.connect()
		</script>

	</body>
</html>
