<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Model}} - {{.Name}}</title>

		<link rel="stylesheet" type="text/css" href="css/device.css">
		<link rel="stylesheet" type="text/css" href="css/{{.Model}}.css">

	</head>

	<body class="online model-{{.Model}}">

{{template "index-header.tmpl" .}}

		<div class="full-body">
{{template "index-body.tmpl" .}}
		</div>

		<script src="js/device.js"></script>
		<script src="js/{{.Model}}x.js"></script>

		<script>
			const fullView = 0
			const assets = ""
			let device = new Device{{.ModelTitle}}(document.body, fullView, assets)
			let conn = new Single({{.WebSocket}}, device)
		</script>

	</body>
</html>
