<h3>Instructions</h3>

<hr>

<p>Use a <a target="_blank" href="https://www.raspberrypi.com/">Raspberry Pi</a> SBC (Single Board Computer) to build a {{.Model}} device.</p>

<p>Supported Raspberry Pi models: 3B, 3B+, 3A+, 4B, 400, 5, CM3, CM3+, CM4, CM4S, Zero 2 W (not Pico)</p>

<center>
	<a target="_blank" href="images/rpi-{{.Model}}.png">
		<img src="images/rpi-{{.Model}}.png" width="100%"></img>
	</a>
</center>

<h5>Parts List</h5>

{{template "instructions-rpi-parts.tmpl" .}}

<h5>Step 1</h5>

{{template "instructions-rpi-step1.tmpl" .}}

<p>Click "Run Local Web Server" and specify a port to listen on for accessing the device directly on the local network.  The device's address is http://addr:port, where addr is the local IP (or hostname).  This is useful, for example, when the hub is not accessible.</p>

<h5>Step 2</h5>

<p>Click the Download button to download the demo installer file.  The installer file name is:</p>

<pre>
<code>
	{{.Id}}-installer
</code>
</pre>

<h5>Step 3 (Optional)</h5>

<p>Verify the MD5 checksum:</p>

<pre>
<code>
	$ md5sum {{.Id}}-installer
</code>
</pre>

<h5>Step 4</h5>

<p>Copy the installer file to the Raspberry Pi system and run:</p>

<pre>
<code>
	$ chmod +x {{.Id}}-installer
	$ sudo ./{{.Id}}-installer

	Intalling {{.Model}}...
	Intalling logging for {{.Model}}...
	Intalling systemd service for {{.Model}}...
	Success!
</code>
</pre>

<p>The installer will install the device as a service named "{{.Model}}".  To uninstall:</p>

<pre>
<code>
	$ sudo ./{{.Id}}-installer -u
</code>
</pre>

<p>To view device logs:</p>

<pre>
<code>
	$ sudo tail -f /var/log/{{.Model}}.log
</code>
</p>
