<h3>Instructions</h3>

<hr>

<p>Demo Mode simulates a {{.Model}} device in software.  Demo Mode is for trying out the {{.Model}} device without the hardware.</p>

<p>Demo Mode runs as a Linux (amd64) application.</p>

<h5>Step 1</h5>

{{template "instructions-demo-step1.tmpl" .}}

<h5>Step 2</h5>

<p>Click the Download button to download the demo installer file.  The installer file name is:</p>

<pre>
<code>
	{{.Id}}-installer
</code>
</pre>

<h5>Step 3 (Optional)</h5>

<p>Verify the MD5 checksum:</p>

<pre>
<code>
	$ md5sum {{.Id}}-installer
</code>
</pre>

<h5>Step 4</h5>

<p>Copy the installer file to a Linux system and run:</p>

<pre>
<code>
	$ chmod +x {{.Id}}-installer
	$ sudo ./{{.Id}}-installer

	Intalling {{.Model}}...
	Intalling logging for {{.Model}}...
	Intalling systemd service for {{.Model}}...
	Success!
</code>
</pre>

<p>The installer will install the device as a service.  To uninstall:</p>

<pre>
<code>
	$ sudo ./{{.Id}}-installer -u
</code>
</pre>
