<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>[Prime] {{.Child.Model}} - {{.Child.Name}}</title>

		<link rel="stylesheet" type="text/css" href="model/{{.Model}}/css/device.css">
		<link rel="stylesheet" type="text/css" href="model/{{.Model}}/css/{{.Model}}.css">
		<link rel="stylesheet" type="text/css" href="model/{{.Child.Model}}/css/{{.Child.Model}}.css">
	</head>

	<body class="online model-{{.Model}}">

{{ .Child.RenderHTML "index-header.tmpl" }}

		<div class="model-{{.Child.Model}} full-body" id="device-{{.Child.Id}}">
{{ .Child.RenderHTML "index-body.tmpl" }}
		</div>

		<script src="model/{{.Model}}/js/device.js"></script>
		<script src="model/{{.Model}}/js/{{.Model}}.js"></script>
		<script src="model/{{.Child.Model}}/js/{{.Child.Model}}x.js"></script>

		<script>
			const fullView = 0
			const assets = "model/{{.Child.Model}}/"
			let trunk = new Trunk({{.WebSocket}})
			let prime = new DevicePrime(document.body, fullView, "")
			trunk.registerDevice("", prime)
			let child = new Device{{.Child.ModelTitle}}(document.body, fullView, assets)
			trunk.registerDevice("{{.Child.Id}}", child)
			trunk.connect()
		</script>
	</body>
</html>
