<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="css/device.css">
		<link rel="stylesheet" type="text/css" href="css/{{.Model}}.css">
		<link rel="stylesheet" type="text/css" href="device/{{.Child.Id}}/css/{{.Child.Model}}.css">

	</head>

	<body class="online model-{{.Model}}">

{{ .Child.RenderHTML "index-header.tmpl" }}

		<div class="model-{{.Child.Model}} full-body" id="device-{{.Child.Id}}">
{{ .Child.RenderHTML "index-body.tmpl" }}
		</div>

		<script src="js/device.js"></script>
		<script src="js/{{.Model}}.js"></script>
		<script src="device/{{.Child.Id}}/js/{{.Child.Model}}x.js"></script>

		<script>
			const fullView = 0
			const assets = "device/{{.Child.Id}}/"
			let trunk = new Trunk({{ .WebSocket }})
			trunk.registerDevice("", new DevicePrime(document.body), fullView, "")
			let device = new Device{{.Child.ModelTitle}}(document.body, fullView, assets)
			trunk.registerDevice("{{.Child.Id}}", device)
		</script>
	</body>
</html>
